<%- include('layout/head.ejs') %>
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<header>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Add New Member</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/admin/add_team" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title">Name</label>
                            <input type="text" name="name" id="name" class="form-control form-control-lg"
                                   placeholder="input name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="desc">Description</label>
                            <textarea name="desc"  value="" class="form-control form-control-lg"
                                      placeholder="Description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image">Select Image</label>
                            <input type="file" name="image" id="img" class="form-control form-control-lg"
                                    required/>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Add Team" class="btn btn-primary btn-lg"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/foot.ejs') %>
