<%- include('layout/head.ejs') %>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-12">
                <div class="table-responsive">
                   <h1>This is a pen</h1>
                </div>
            </div>
        </div>
    </div>

<%- include('layout/foot.ejs') %>




