<div id="footer" class="footer">
    <div class="footer_bottom">
        <div class="custom_container">
            <div class="copyrights"><span>© 2021, Rooshe.</span> <span>All rights reserved.</span></div>
            <div class="developer">2021, made in Armenia with ♥ by Rooshe Team</div>
        </div>
    </div>
</div>
<div class="preloader">
    <span></span>
</div>
<div class="loader">
    <img src="/css/images/favicon.svg" alt="" title=""/>
</div>