html {
    height: 100%;
    font-size: 10px;
    line-height: 1.4286em;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    color: $black33;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    font-family: $regular;
}

input, select, textarea, button, a, .slick-slide {
    outline: none !important;
}

a,
a:focus,
a:hover,
button:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
    display: block;
}

.content {
    background: #171717;
}

img {
    max-height: none;
    border: none;
}

.row {
    margin-left: $rowMargin;
    margin-right: $rowMargin;
}

[class*="col-"] {
    padding-left: $colPadding;
    padding-right: $colPadding;
}

.custom_container {
    width: 100%;
    max-width: $containerWidth + 2*$containerPadding;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    margin: 0 auto;
    @media #{$until959} {
        padding-left: $containerPadding *1.5;
        padding-right: $containerPadding *1.5;
    }
}

.help-block.form-error {
    display: none;
}

.error_hint {
    display: block;
    position: relative;
    color: $error;
    font-size: 120%;
    line-height: 15px;
    margin-bottom: -15px;
    margin-top: 5px;
    padding: 0;
    opacity: 0;
    max-height: 15px;
    overflow: hidden;
    @extend %all300;
}

.has-error {
    + .error_hint,
    .error_hint {
        max-height: 60px;
        opacity: 1;
    }
}

.individual_hint {
    display: none;
}

.bold {
    font-family: $bold;
}

.content {
    padding-top: 63px;
    padding-bottom: 50px;
    @media #{$until1199} {
        padding: 40px 0;
    }
    @media #{$until959} {
        padding: 30px 0;
    }
}

.page_title {
    text-align: center;
    margin: 0;
    font-family: $bold;
    font-size: 380%;
    line-height: 1.24em;
    color: $siteColor1;
    @media #{$until1199} {
        font-size: 320%;
    }
    @media #{$until959} {
        font-size: 280%;
    }
    @media #{$until767} {
        font-size: 240%;
    }
}

.section_title {
    color: inherit;
    font-family: $bold;
    font-size: 260%;
    line-height: 1.25em;
    margin: 0;
    @media #{$until1199} {
        font-size: 220%;
    }
    @media #{$until959} {
        font-size: 200%;
    }
}

.paging {
    padding-top: 10px;
    font-size: 180%;
    line-height: 1.28em;
    color: $white;

    ul {
        @extend %standardList;
        display: flex;
        justify-content: center;
    }

    li {
        padding: 0 12px;
    }

    a {
        display: block;
        color: inherit;

        &.current_page {
            font-family: $bold;
            pointer-events: none;
            cursor: default;
        }
    }

    @media #{$until1199} {
        font-size: 160%;
        padding-top: 20px;
    }
}

.phone_link {
    color: inherit;

    &:not(.clickable) {
        pointer-events: none;
        cursor: default;
    }
}

.filter-option-inner-inner {
    color: $black;
}

.field_block {
    position: relative;
    margin-bottom: 25px;
    @include placeholder {
        color: $placeholder;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        border: 1px solid $placeholder;
        font-size: 160%;
        line-height: 19px;
        padding: 18px;
        @extend %all300;
        border-radius: 5px;
        color: $black;

        &::placeholder {
            color: black;
        }

        &:focus {
            border-color: $black;
        }

        -webkit-appearance: none;
    }

    textarea {
        resize: none;
        height: 110px;
    }

    select {
        height: 57px;
        visibility: hidden;
    }

    .bootstrap-select {
        &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100%;
        }

        .btn {
            color: $black !important;
            font-size: 160%;
            line-height: 19px;
            box-shadow: none;
            outline: none !important;
            border-radius: 5px;
            border: 1px solid $placeholder !important;
            padding: 18px;
            background: $white !important;

            &.dropdown-toggle:focus {
                outline: none !important;
            }

            &.bs-placeholder {
                color: $placeholder !important;
            }
        }

        .dropdown-menu {
            padding: 0;
            overflow: hidden;
            border: none;
            background: $white;
            box-shadow: none;
            min-width: 0 !important;
            max-width: 100% !important;
            width: 100%;
            margin: 3px 0 0;
            border-radius: 5px;

            li {
                &:not(:first-child) {
                    border-top: 1px solid $placeholder;
                }
            }

            > .inner {
                max-height: 230px !important;
            }
        }

        &.dropup .dropdown-menu {
            margin: 0 0 3px;
        }

        div.dropdown-menu {
            border: 1px solid $placeholder;
        }

        .dropdown-toggle::after {
            border-top: 0.4em solid;
            border-right: 0.4em solid transparent;
            border-bottom: 0;
            border-left: 0.4em solid transparent;
        }

        .dropdown-item {
            padding: 12px 18px;
            font-weight: normal;
            color: $black;
            background: transparent;
            font-size: 140%;
            line-height: 20px;
            white-space: normal;
            @extend %all300;

            &.selected,
            &.active,
            &:active {
                background-color: rgba($black, 0.2);
                cursor: default;
                color: $black;
            }

            &:hover {
                color: $black;
            }
        }

        &.has-error {
            .btn {
                border-color: $error !important;
            }

            .dropdown-toggle::after {
                color: $error;
            }
        }

        &.show .btn {
            border-color: $black !important;
        }
    }

}

form .button_block {
    padding-top: 10px;

    button {
        width: 100%;
        background: $siteColor1;
        color: $white;
        box-shadow: 0 2px 4px rgba(39, 26, 94, 0.2);
        font-size: 160%;
        line-height: 20px;
        border: none;
        padding: 21px;
    }
}

select {
    visibility: hidden;
}


@media #{$until1199} {
    .field_block input,
    .field_block textarea,
    .field_block .bootstrap-select .btn,
    form .button_block button {
        font-size: 140%;
        line-height: 18px;
        padding: 15px;
    }
    .field_block {
        select {
            height: 50px;
        }

        .error_hint {
            padding: 0;
        }

        .bootstrap-select .dropdown-item {
            padding: 10px 15px;
        }
    }
}

.web {
    .paging a:not(.current_page) {
        @extend %color300;

        &:hover {
            color: $gray99;
        }
    }

    .continue_btn,
    form .button_block button {
        @extend %back300;

        &:hover {
            background: $btnColorOrange;
        }
    }

    .block_title a {
        @extend %color300;

        &:hover {
            color: $grayD1;
        }
    }
}

.touch {
    .paging a:not(.current_page) {
        @include animStyle(color 0.15s);

        &:active {
            color: $gray99;
        }
    }

    .continue_btn,
    form .button_block button {
        @include animStyle(background 0.15s);

        &:active {
            background: $btnColorOrange;
        }
    }

    .block_title a {
        @include animStyle(color 0.15s);

        &:hover {
            color: $grayD1;
        }
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    @include animStyle(background-color 0.2s);

    img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100px;
        max-height: 100px;
        @extend %noBlink;
        @include animStyle(all 3s);
    }

    img {
        animation: loading 1s infinite;
    }
}

@keyframes loading {
    0%{
        @include transStyle(scale(1))
    }
    50%{
        @include transStyle(scale(1.2))
    }
    100%{
        @include transStyle(scale(1))
    }
}