$regular: "montserrat_regular", "montserratarm_regular";
$bold: "montserrat_bold", "montserratarm_bold";
$until1699: "(max-width: 1699px)";
$until1599: "(max-width: 1599px)";
$until1440: "(max-width: 1440px)";
$until1399: "(max-width: 1399px)";
$until1279: "(max-width: 1279px)";
$until1199: "(max-width: 1199px)";
$until1024: "(max-width: 1024px)";
$until991: "(max-width: 991px)";
$until959: "(max-width: 959px)";
$until768: "(max-width: 768px)";
$until767: "(max-width: 767px)";
$until639: "(max-width: 639px)";
$until599: "(max-width: 599px)";
$until575: "(max-width: 575px)";
$until524: "(max-width: 524px)";
$until479: "(max-width: 479px)";
$until399: "(max-width: 399px)";
$until359: "(max-width:359px)";
$until649h: "(max-height: 649px)";
$until479h: "(max-height: 479px)";
$until399h: "(max-height: 399px)";
$until359h: "(max-height: 359px)";
$black: #000000;
$black33: #333333; 
$black17: #171717;
$gray66: #666666;
$gray99: #999999;
$grayE5: #e5e5e5;
$grayEB: #EBEBEB;
$grayD1: #d1d1d1;
$white: #ffffff;
$creamyF2:#f2f2f2;
$creamyF4:#f4f4f4;
$error: #ff0500;
$containerWidth: 1753px;
$containerPadding: 10px;
$rowMargin: -15px;
$colPadding: 15px;
$siteColor: #333333;
$menuColor: #464646;
$submenuColor: #505050;
$darkBtnBg: #272727;
$placeholder: #9A9A9A;
$slogan: #E02020;
$shipped:#34601C;
$btnColorOrange:#F47D6A;
$canceled:#DC1616;
$pending:#D9B410;
$creamyA0:#A0A0A0;
$creamyD8:#D8D8D8;
$grayBD:#BDBDBD;
$redBg: #B81A1A;
$selectedBg: #F2F3F5;
$headerBG: #0e0e0e;
$siteColor1: #1BC5D1;